{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="title-container bg-primary py-4 text-white">
            <h1 class="d-flex justify-content-center mt-4">Bo Bech-GIFs</h1>
            <span class="d-flex justify-content-center mb-4 ">Vælg et humør og klik derefter på en af de&nbsp;<strong>{{ ids|length }}</strong>&nbsp;GIFs for at kopiere linket. Bon appétit!</span>
        </div>

        <div class="d-flex justify-content-center mt-4" id="btn-container">
            <div class="btn-group-justified pb-4 pt-4 text-center w-75" role="group" aria-label="Mood buttons">
                {% for mood in moods %}
                    <input type="radio" class="btn-check" name="btnradio" id="{{mood}}" autocomplete="off">
                    <label class="btn btn-outline-primary mb-2 mood-button" id="{{mood}}" for="{{mood}}">{{translated_moods[mood]}} ({{category_counts[mood]}})</label>
                    {% endfor %}
            </div>
        </div>
        
        <div class="d-flex flex-row-reverse">
            <div class="form-check form-check-inline" id="text-toggle">
                <label for="textToggler" class="form-check-label">Vis GIFs med captions</label>
                <input id="textToggler" type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-on="Til" data-off="Fra" data-width="20" data-style="ios">
            </div>
        </div>
        
        <hr>
       
        <div class="row mb-4">
            {% for index in range(gifs|length) %}
                <div class="col-md-3 d-none justify-content-center position-relative my-0 px-0">
                    <img class="img-thumbnail w-100 gif" data-moods={{ id_moods[index] }} data-hasText={{ has_text[ids[index]] }} id={{ ids[index] }} src={{ preview_gifs[index] }} alt={{ gifs[index] }} loading="lazy" onclick="GifClickFunction(this.alt)">
                    <div class="copy-div d-flex justify-content-center align-items-center bg-primary"></div>
                    <div class="copy-text-div d-flex justify-content-center align-items-center text-white">Kopiér</div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <button type='button' class="btn btn-primary" id="load-button">Indlæs flere GIFs...</button>
        </div>

        <div class="d-flex justify-content-center fixed fixed-bottom">
            <div class="alert alert-success position-relative w-30" id="alert-popup" style="display:none;">
                <strong>Kopieret!</strong> GIF kopieret til clipboard. Klar til brug! 
            </div>
        </div>
    </div>

    <hr> 

    <div class="d-flex justify-content-center align-items-center">
        <a href="https://www.reddit.com/r/Denmark/comments/i2vevl/jeg_har_lavet_omtrent_125_bo_bech_gifs_velbekomme/">
            <img class="media-link p-3" src="/static/logos/reddit.svg" width="200" alt="Reddit">
        </a>
        <a href="https://www.euroman.dk/kultur/skaberen-af-125-bo-bech-gifs-det-har-vist-sig-at-han-er-kult">
            <img class="media-link p-3" src="/static/logos/euroman.svg" width="200" alt="Euroman">
        </a>
        <a href="https://www.information.dk/nyhedsblog/2020/08/findes-bo-bech-gif-situationer">
            <img class="media-link p-3" src="/static/logos/information.svg" width="200" alt="Dagbladet Information">
        </a>
    </div>

    <hr>

    <span class="d-flex justify-content-center"><em>Jamen, hvad er der at sige?</em></span>
    <span class="d-flex justify-content-center mb-4">Et hobbyprojekt af iSail og Rabow (2021)</span>

{% endblock content %}