{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="d-flex justify-content-center">Jamen, hvad er der at sige?</h1>
        <div class="d-flex justify-content-center">
            <div class="btn-group-justified mb-4 text-center" role="group" aria-label="Mood buttons">
                {% for mood in moods %}
                <!-- TODO: Add button functionality -->
                <!--<button type="button" class="btn btn-outline-primary mb-2 mood-button" id="{{mood}}" onclick="OnMoodClick(this.id)">{{mood}}</button>-->
                <button type="button" class="btn btn-outline-primary mb-2 mood-button" id="{{mood}}">{{mood}}</button>
                {% endfor %}
            </div>
        </div>
        <!--
        {% set cols = 4 %}
        {% set rows = ((gifs|length) / cols)|round(0, 'ceil')|int %}
        {% for row in range(rows) %}
            <div class="row mb-4">
                {% for col in range(cols) %}
                <div class="col d-flex justify-content-center position-relative" id="gif-container">
                    {% set index = row*cols + col %}
                    {% if index < gifs|length %}
                    <img style="cursor: pointer; border: 0;" src={{ preview_gifs[index] }} class="img-thumbnail" alt={{ gifs[index] }} loading="lazy" onclick="GifClickFunction(this.alt)">
                    <div class="copy-div d-flex justify-content-center align-items-center bg-primary"></div>
                    <div class="copy-text-div d-flex justify-content-center align-items-center text-white">Copy</div>
                    {% else %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        -->

        <div class="row mb-4">
            {% for index in range(gifs|length) %}
                <div class="col-md-3 d-flex justify-content-center position-relative">
                    <img data-moods={{ id_moods[index] }} id={{ ids[index] }} style="cursor: pointer; border: 0;" src={{ preview_gifs[index] }} class="img-thumbnail" alt={{ gifs[index] }} loading="lazy" onclick="GifClickFunction(this.alt)">
                    <div class="copy-div d-flex justify-content-center align-items-center bg-primary"></div>
                    <div class="copy-text-div d-flex justify-content-center align-items-center text-white">Copy</div>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center fixed fixed-bottom">
            <div class="alert alert-success position-relative w-30" id="alert-popup" style="display:none;">
                <strong>Copied!</strong> Gif copied to clipboard. Ready for use. 
            </div>
        </div>
    </div>

{% endblock content %}