<!doctype html>
<html lang="da">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ekspressive GIFs med Bo Bech">
    <meta name="keywords" content="GIF, GIFs, Bo Bech, Med kniven for struben">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Bo Bech GIFs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 
    <link href="static/styles.css" rel="stylesheet">

    <script>
      const load_button = document.querySelector('#load-button');
      var current_mood  = 'All';
      var current_items = 12;
      var increment     = 12;

      function GifClickFunction(gif_link) {
        navigator.clipboard.writeText(gif_link); 
        $( "#alert-popup" ).stop(true, false).fadeIn( 300 ).delay( 1500 ).fadeOut( 400 );
      }

      // GIFs are shown or hidden by setting the display class 
      // based on whether each GIF illustrates the specified mood
      $(document).ready(function() { 
        $(".mood-button").click(function() {
          // Display load button
          // TODO: Only display load button if there's
          // still invisible GIFs within the mood category
          load_button.classList.add("d-inline")
          load_button.classList.remove("d-none")

          current_items = 12 // Reset
          current_mood = this.id;
          index = 0;
          $('.gif').each(function(_, obj) {
            moods = $(obj).attr("data-moods")
            if (moods.indexOf(current_mood) >= 0 && index < increment) {
              $(obj).parent().addClass("d-flex");
              $(obj).parent().removeClass("d-none");
              index++
            } else {
              $(obj).parent().addClass("d-none");
              $(obj).parent().removeClass("d-flex");
            }
          });
        });
      });

      // TODO: Click isn't currently executing the above function, maybe because
      // it's added to ".mood-button" rather than the id
      $(document).ready(function() { 
        $("#All").trigger("click");
        $("#All").trigger("focus");
      });
      
      // TODO: Call this event when page has loaded (current_items should be 0, then this is called to
      // load first set of GIFs and the load button is removed (for instance, the 'Romantic' mood
      // category contains only 6 GIFs which are all displayed immediately; therefore, there shouldn't
      // be a load button))
      load_button.addEventListener('click', (e) => {
          const elements = [...document.querySelectorAll('.gif')];
          let range = current_items + increment;
          
          for (let i = 0; i < elements.length; i++) {
            if (current_items == range) break;
            if (i + 1 == elements.length) {
              load_button.classList.add("d-none");
              load_button.classList.remove("d-inline");
            }
            
            // TODO: This code is very similar to the jQuery for the mood buttons; maybe create a generic
            // method for this logic
            let displays_mood = elements[i].getAttribute("data-moods").match(current_mood);
            let visible       = elements[i].parentElement.classList.contains("d-flex");
            if (displays_mood && !visible) {
              elements[i].parentElement.classList.add("d-flex");
              elements[i].parentElement.classList.remove("d-none");
              current_items++;
            }
          }
      })
    </script>
  </body>
</html>
