<!doctype html>
<html lang="da">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ekspressive GIFs med Bo Bech">
    <meta name="keywords" content="GIF, GIFs, Bo Bech, Med kniven for struben">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Bo Bech GIFs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 
    <!-- Toggle plugin for bootstrap -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <link href="static/styles.css" rel="stylesheet">

    <script>
      const load_button = document.querySelector('#load-button');
      var current_mood;
      var current_items = 12;
      var increment     = 12;
      var showGifsWithText = false;

      function GifClickFunction(gif_link) {
        navigator.clipboard.writeText(gif_link); 
        $( "#alert-popup" ).stop(true, false).fadeIn( 300 ).delay( 1500 ).fadeOut( 400 );
      }

      // GIFs are shown or hidden by setting the display class 
      // based on whether each GIF illustrates the specified mood
      $(document).ready(function() {
        $(".mood-button").click(function() {
          current_mood = this.id;
          changeViewedGifs();
        });
      });
      
      $(document).ready(function() {
        $("#textToggler").change(function() {
          showGifsWithText = !showGifsWithText;
          changeViewedGifs();
        });
      });

      // TODO: Click isn't currently executing the above function, maybe because
      // it's added to ".mood-button" rather than the id
      $(document).ready(function() { 
        current_mood = 'All';
        $("#textToggler").bootstrapToggle('on');
        $("#All").trigger("click");
        $("#All").trigger("focus");
      });

      function changeViewedGifs() {
        index = 0;
        still_gifs_to_load = false;
        current_items = 12;
        $('.gif').each(function(i, obj) {
              moods = $(obj).attr("data-moods")
              hasText = $(obj).attr("data-hasText")
              // Always show gifs with no text
              // Only show gifs with text if this has been set
              var showGif = hasText == 0 || !(hasText == 1 && !showGifsWithText);

              let displays_mood = moods.indexOf(current_mood) >= 0;
              if (displays_mood && index == increment) {
                still_gifs_to_load = true;
              }
              if (displays_mood && index < increment && showGif) {
                $(obj).parent().addClass("d-flex");
                $(obj).parent().removeClass("d-none");
                index++;
              } else {
                $(obj).parent().addClass("d-none");
                $(obj).parent().removeClass("d-flex");
              }

              // Toggle load button depending on whether there's
              // still unloaded GIFs in this mood category
              if (still_gifs_to_load) {
                load_button.classList.add("d-inline");
                load_button.classList.remove("d-none");
              } else {
                load_button.classList.add("d-none");
                load_button.classList.remove("d-inline");
              }
          });
      }

      // TODO: Call this event when page has loaded (current_items should be 0, then this is called to
      // load first set of GIFs and the load button is removed (for instance, the 'Romantic' mood
      // category contains only 6 GIFs which are all displayed immediately; therefore, there shouldn't
      // be a load button))
      load_button.addEventListener('click', (e) => {
          const elements = [...document.querySelectorAll('.gif')];
          let range = current_items + increment;
          
          for (let i = 0; i < elements.length; i++) {
            if (current_items == range) break;
            if (i + 1 == elements.length) {
              load_button.classList.add("d-none");
              load_button.classList.remove("d-inline");
            }
            
            // TODO: This code is very similar to the jQuery for the mood buttons; maybe create a generic
            // method for this logic
            let displays_mood = elements[i].getAttribute("data-moods").match(current_mood);
            let visible       = elements[i].parentElement.classList.contains("d-flex");
            if (displays_mood && !visible) {
              elements[i].parentElement.classList.add("d-flex");
              elements[i].parentElement.classList.remove("d-none");
              current_items++;
            }
          }
      })

    </script>
  </body>
</html>
