.copy-div, .copy-text-div {
    opacity: 0; 
    position: absolute; 
    top:50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    cursor: pointer;
    pointer-events:none;
    width: 50%;
    height: 50%;
    transition: 0.3s;
    border-radius: 1em;
}

.img-thumbnail:hover ~ .copy-div {
    opacity: 0.7; 
}

.img-thumbnail:hover ~ .copy-text-div {
    opacity: 1; 
}